header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.logoNav{
  width: 10em;
  height: 10em;
}

.navBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: #fadeea;
}
.navBar ul{
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.navBar ul li{
  list-style: none;
  text-transform: uppercase;
  color: #000000;
  padding: 0.5em;
}

.navBar ul li:hover{
  border-bottom: 1px #000000 solid;
}

.link{
  text-decoration: none;
}